{block content}

<div class="container">
    <p>{_forms.test}</p>

    {control bootstrapForm}

    <hr>

    {control netteForm}
    {*
    {form netteForm}
    <div class="form-group">
        {label name/}
        {input name}
    </div>
    {/form}
    *}
</div>